Template/
/FreshFood/.vs/FreshFood/v15
/FreshFood/.vs/FreshFood/v16
/FreshFood/FreshFood.Android/obj
/FreshFood/FreshFood.iOS/obj
/FreshFood/FreshFood/obj
/FreshFood/.vs/FreshFood/DesignTimeBuild
/FreshFood/FreshFood/bin/Debug/netstandard2.0
/FreshFood/FreshFood.Android/bin/Debug
