Template/
/FreshFood/.vs/FreshFood/v15
/FreshFood/.vs/FreshFood/v16
/FreshFood/FreshFood.Android/obj
/FreshFood/FreshFood.iOS/obj
/FreshFood/FreshFood/obj
/FreshFood/.vs/FreshFood/DesignTimeBuild
/FreshFood/FreshFood/bin/Debug/netstandard2.0
/FreshFood/FreshFood.Android/bin/Debug
/FreshFood/FreshFood.iOS/bin/iPhoneSimulator/Debug
/FreshFood/FreshFood/bin/Release/netstandard2.0
/FreshFood/FreshFood.Android/bin/Release
/FreshFood/.vs/FreshFood/v17
/FreshFood/FreshFood.Domain/bin/Debug
/FreshFood/FreshFood.Domain/obj
FreshFood/FreshFood.Android/FreshFood.Android.csproj.user
FreshFood/FreshFood.iOS/FreshFood.iOS.csproj.user
